# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript build output
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# IDE and editor files
.idea/
# .vscode/ # Keeping this here for me
*.swp
*.swo
.DS_Store
*.sublime-project
*.sublime-workspace

# Logs
logs/*

# Testing
coverage/

# Docker
.docker/

# Temporary files
tmp/
temp/

# Debug
.debug/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# parcel-bundler cache
.cache 

# Mongo data
mongo/data/*